@main-color: blue;
@second-color: red;

// Breakpoints
@phone: 420px;
@tablet: 720px;
@desktop: 1080px;
.nav {
    background-color: @main-color;
    @media only screen and (max-width: @phone){
        padding: 10px 10px;
    }
    @media only screen and (min-width: @phone) and (max-width: @tablet){
        padding: 10px 
    }
    @media only screen and (min-width: @tablet){
        padding: 20px 30px
    }
}
.body{
    box-sizing: border-box;
    @media only screen and (max-width: @phone){
        padding: 10px
    }
    @media only screen and (min-width: @phone) and (max-width: @tablet){
        padding: 10px 
    }
    @media only screen and (min-width: @tablet){
        padding: 20px 30px
    }
}
.editor-container{
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    width: 100%
}
.editor-button{
    text-decoration: none;
    float: right;
    color: white;
    background: transparent;
    border: 1px solid white;
    @media only screen and (max-width: @phone){
        padding: 2px 3px;
        border-radius: 2px
    }
    @media only screen and (min-width: @phone) and (max-width: @tablet){
        padding: 3px 5px;
        border-radius: 3px
    }
    @media only screen and (min-width: @tablet){
        margin: 0 5px;
        padding: 3px 5px;
        border-radius: 5px
    }
}

